@mixin math-title {
  font-size: 2rem;
  text-decoration: underline;
  margin-bottom: 20px;
}

@mixin math-desc {
  margin-bottom: 20px;
  font-size: 1.2rem;

  &-equation {
    @include equation;

    margin-left: 5px;
    list-style-type: none;
  }
}

@mixin math-input {
  @include equation(20px);

  height: 38px;
  margin-bottom: 20px;
  padding: 0 10px;
  border-radius: 3px;
  border: 1px solid $secondary-color;
  text-align: right;
}

@mixin math-solve-button{
    @include a-link;

    height: 38px;
    padding: 5px 25px;
    margin: 0 0px;

    border: 1px solid transparent;
    border-radius: 3px;

    //font-family: $primary-fonts;
    color: $primary-color;

    font-weight: 700;
    background: $secondary-color;

    &:hover{
        background: $primary-color;
        color: $secondary-color;
        border: 1px solid $secondary-color;
    }
}

@mixin math-solved {
    @include second-margin;

    padding: 10px 10px 10px 20px ;
    border-left: 5px solid $feature-color;
    background-color: whitesmoke;

    &__lines{
        @include equation(2rem);

        margin: 5px 0;
    }
}

@mixin math-error {
    @include second-margin;

    padding: 10px 10px 10px 20px ;
    border-left: 5px solid $secondary-color;
    background-color: #fcf3f3;

    &__line{
        margin: 5px 0;
    }
}

