<div class="component container">
  <div class="row">
    <div class="col-md-2">
      <ul class="list-group">
        <li
          class="list-group-item cursor hover"
          [ngClass]="{ active: activeCate === 0 }"
          (click)="onCategoryChange({ category: 'All', id: 0 })"
        >
          All
        </li>
        <li
          *ngFor="let category of categories"
          class="list-group-item cursor hover"
          [ngClass]="{ active: activeCate === category.id }"
          (click)="onCategoryChange(category)"
        >
          {{ category.category }}
        </li>
      </ul>
    </div>
    <div class="col-md-10">
      <div class="mb-3 d-flex justify-content-between">
        <h2>Question</h2>
        <button class="btn btn-primary" [routerLink]="loggedIn()? ['/question/new']:['/login']">
          Post New Question
        </button>
      </div>
      <div class="mb-2">
        <form
        class="form-group form-inline mb-0"
        #searchForm="ngForm"
        (ngSubmit)="onSearch()"
      >
        <label for="inputsearch" class="sr-only">search address</label>
        <input
          type="text"
          id="inputsearch"
          class="form-control"
          placeholder="search"
          name="search"
          required
          [(ngModel)]="filter"
        />
        <button
          class="text-muted cursor btn mx-1"
          type="submit"
          aria-label="Search"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="mx-3"
            role="img"
            viewBox="0 0 24 24"
            focusable="false"
          >
            <title>Search</title>
            <circle cx="10.5" cy="10.5" r="7.5"></circle>
            <path d="M21 21l-5.2-5.2"></path>
          </svg>
        </button>
      </form>
      </div>
      <div
        class="border-bottom border-top pt-2 px-2 cursor"
        [ngClass]="{'solved': question.isSolved}"
        *ngFor="let question of questions"
        (click)="goToQuestion(question.id)"
      >
        <div class="row">
          <div class="col-md-2">
            <p class="fw-bold">{{ question.questioner }}</p>
            <p>{{ question.postDate | date:'d MMMM y'}}</p>
          </div>
          <div class="col-md-7">
            <p>
              {{ question.title }}
            </p>
            <h5 class="badge badge-primary">{{ question?.category?.category }}</h5>
          </div>
          <div class="col-md-1 text-center pm-grid">
            <div>
              <p>{{ question.viewed }}</p>
              <p>viewed</p>
            </div>
          </div>
          <div class="col-md-2 text-center pm-grid">
            <div>
              <p>{{ "0" || 0 }}</p>
              <p>answered</p>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="totalPage.length > 1" class="mt-2">
        <ul class="pagination">
          <li
            class="page-item"
            [ngClass]="{ disabled: params.pageIndex === 0 }"
          >
            <a
              class="page-link cursor"
              (click)="onPageChange(params.pageIndex - 1)"
              >Previous</a
            >
          </li>
          <li
            class="page-item"
            *ngFor="let index of totalPage"
            [ngClass]="{ active: index === params.pageIndex }"
          >
            <a class="page-link cursor" (click)="onPageChange(index)">{{
              index + 1
            }}</a>
          </li>
          <li
            class="page-item"
            [ngClass]="{
              disabled: params.pageIndex === totalPage[totalPage.length - 1]
            }"
          >
            <a
              class="page-link cursor"
              (click)="onPageChange(params.pageIndex + 1)"
              >Next</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
