<div class="component container">
 <div class="d-flex justify-content-center flex-wrap">
    <div class="pm-card cursor" [routerLink]="['mean']">
      <h2>Mean</h2>
    </div>
 
    <div class="pm-card cursor" [routerLink]="['mode']">
      <h2>Mode</h2>
    </div>
 
    <div class="pm-card cursor" [routerLink]="['median']">
      <h2>Median</h2>
    </div>
 
    <div class="pm-card cursor" [routerLink]="['quadratic']">
      <h2>Quadratic</h2>
    </div>
  
    <div class="pm-card cursor" [routerLink]="['trinomial']">
      <h2>Trinomial</h2>
    </div>

    <div class="pm-card cursor" [routerLink]="['square']">
      <h2>Square</h2>
    </div>
  </div>
</div>