<section class="mode">
  <h2 class="mode__title">Mode: The Most Common Value</h2>
  <div class="mode__desc">
    <p>Enter number separated by commas.</p>
  </div>
  <form   class="mode__inputs">
    <input
      class="form-control mode__inputs-field"
      type="text"
      name="numbers"
      id="numbers"
      [placeholder] = "placeholder"
      required
      (keypress) = "checkInputChar($event)"
      [(ngModel)]="model.numbers"
    />
    <input
    class="mode__inputs-submit"
    type="submit"
    (click)="solve()"
    value="Solve"
  />
  </form>
  <div class="mode__examples">
      <!-- Examples Input -->
  </div>
  <p class="mode__review" *ngIf="isSolveClicked">
      Your input numbers: &nbsp; <span class="mode__review-equation">{{model.numbers}}</span> 
  </p>
</section>
<section class="solved" *ngIf="isSolveClicked && success">
  <div>
    <p class="solved__title">Mode: The Most Common Value</p>
    <div class="solved__equation"><span *ngFor="let number of solution.numbers"><span [ngClass] = "{'result':number === solution.result}">{{number}}</span></span></div>
    <div class="solved__result">
      <!-- <p>The Mode value is the value that appears the most number of times</p> -->
      <p>Result: {{solution.result}}</p>
    </div>
  </div>
  <div>
    <p class="solved__title">Median: The median is the value in the middle, after you have sorted all the values</p>
    <div>Numbers sorted: <span *ngFor="let number of sortedNumbers; let i = index"><span [ngClass] = "{'result':index.includes(i)}">{{number}}</span></span></div>
    <div *ngIf="isLengthEven">
      <p>sum of middle values = {{sortedNumbers[index[0]]}} + {{sortedNumbers[index[1]]}} = {{sortedNumbers[index[0]] + sortedNumbers[index[0]]}}</p>
      <p>therefore median is: {{sortedNumbers[index[0]] + sortedNumbers[index[0]]}} / 2 = {{medianResult}}</p>
    </div>
    <div>
      <p>Result: {{medianResult}}</p>
    </div>
  </div>
  <div>
    <p class="solved__title">Mean: The mean value is the average value</p>
    <div>
      <p>Sum of the numbers: <span *ngFor="let number of solution.numbers; let i = index"><span>{{number}}<span *ngIf="i !== solution.numbers.length - 1">+</span></span></span> = {{sum}}</p>
      <p>Average: sum/number of values = {{sum}}/{{solution.numbers.length}} = {{sum/solution.numbers.length | number: '1.1-2'}}</p>
    </div>
    <div>
      <p>Result: {{sum/solution.numbers.length | number: '1.1-2'}}</p>
    </div>
  </div>
</section>
<section class="math-error" *ngIf="isSolveClicked && !success">
  <p>Something went worng!</p>
</section>
