@import '../../../../assets/scss/config';
@import '../../../../assets/scss/math';

.mode{
    @include main-margin;

    &__title{
        @include math-title;
    }

    &__desc{
        @include math-desc;
    }

    &__inputs{


        width: 60%;

        &-field{
            @include math-input;

            width: 50%;
        }
        
        &-submit{
            @include math-solve-button;

            display: block;
        }
    }

    &__review{
        margin: 20px 0;

        &-equation{
            @include equation;
        }
    }
}

.solved{
    @include math-solved;
    

    &__equation{
        @include equation;
    }

    span{
        margin: 0 10px 0 0;
    }

    &__result{
        font-size: 1.5rem;
    }
}

.math-error{
    @include math-error;
}

.result{
    color: lime;
    text-decoration: underline;
}