<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['home']">PlayMath</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['articles']"
              >Article</a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['questions']"
              >Question?</a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['maths']"
              >Math</a
            >
          </li>
        </ul>
        <div class="my-2 my-lg-0">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['profile']"
                >{{user | titlecase}}</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
