<section class="landing">
  <div class="landing__info">
    <div class="landing__info-text">
        <h1>PlayMath</h1>
        <h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </h2>
    </div>
    <div class="landing__buttons">
        <button class="landing__buttons-math">Solve a Math</button>
        <button class="landing__buttons-sign">Sign Up</button>
    </div>
  </div>
    <img
      class="landing__img"
      src="../../../assets/svg/undraw_mathematics_4otb.svg"
      alt="landing page image"
    />
</section>
