@import '../../../assets/scss/config';

@mixin hover-button($border, $text){
    background: $primary-color;
    color: $text;
    border: 1px solid $border;
}

.landing{
    @include main-margin;
    @include flex-center-all;

    min-height: calc(100vh - 80px);

    &__info{
        width: 450px;
        margin: 20px;

        & h1{
            color: $secondary-color;
            font-size: 3rem;
            margin-bottom: 20px;
        }

        & h2{
            color: $text-color;
            margin-bottom: 20px;
        }
    }

    &__buttons{
        &-math, &-sign{
            @include kill-button;
            @include a-link;
            @include transition-ease;

            margin-right: 20px;
            padding: 10px 20px;

            border: 1px solid transparent;
            border-radius: 3px;

            font-weight: 700;
            font-size: 1rem;
        }
        
        &-math{
            background: $secondary-color;
            color: $primary-color;

            &:hover{
                @include hover-button($secondary-color, $secondary-color);
                border: 1px solid $secondary-color;
            }
        }

        &-sign{
            background: #3f51b5;
            color: $primary-color;

            &:hover{
                @include hover-button( #3f51b5,  #3f51b5);
                border: 1px solid;
            }
        }
    }

    &__img{
        max-width: 500px;
    }
}
