<div class="component container">
  <h2>Trinomial Equation</h2>
  <p>Equation Format</p>
  <p>ax<sup>2</sup> + bx + c = d</p>
  <div>
    <form class="form-inline">
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text">a = </div>
        </div>
        <input
          type="number"
          class="form-control"
          id="inlineFormInputGroupUsername2"
          name="a"
          
          [(ngModel)]="model.a"
        />
      </div>
      <span class="mx-2">x<sup>2</sup> +</span>
     
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text">b = </div>
        </div>
        <input
          type="number"
          class="form-control"
          name="b"
          id="inlineFormInputGroupUsername2"
          
          [(ngModel)]="model.b"
        />
      </div>
      <span class="mx-2"> x +</span>

      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text">c = </div>
        </div>
        <input
          type="number"
          class="form-control"
          name="c"
          id="inlineFormInputGroupUsername2"
          
          [(ngModel)]="model.c"
        />
      </div>
      <span class="mx-2">  = </span>

      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text">d = </div>
        </div>
        <input
          type="number"
          class="form-control"
          name="d"
          id="inlineFormInputGroupUsername2"
          [(ngModel)]="model.d"
        />
      </div>

      <button type="submit" (click)="solve()" class="btn btn-primary mb-2">Submit</button>
    </form>
  </div>
  <hr>
  <div>
    <p *ngIf="isSolveClicked">
      Your equation is :
      <span class="equation">
        {{ model.a }}x<sup>2</sup> <span *ngIf="model.b > 0">+</span>
        {{ model.b }}x <span *ngIf="model.b > 0">+</span>{{ model.c }}</span
      >
    </p>
    <section class="solved" *ngIf="isSolveClicked && success">
      <p class="solved__line" *ngFor="let s of solved">{{s.solutionLine}}</p>
    </section>
    <section class="math-error" *ngIf="isSolveClicked && !success">
      <p>Something went worng!</p>
    </section>
  </div>
</div>

