<section class="factorize">
  <h2 class="factorize__title">Quadratic Equation</h2>
  <div class="factorize__desc">
    <p>Solve a quadratic equation for variable x and y.</p>
      <p>Equation format:</p>
    <ul class="factorize__desc-equation">
      <li>ax<sup>2</sup> + bx + c = d</li>
    </ul>
  </div>
  <form class="factorize__inputs">
    <input
      class="factorize__inputs-field"
      type="number"
      id="a"
      name="a"
      [(ngModel)]="model.a"
    />
    x<sup>2</sup> +
    <input
      class="factorize__inputs-field"
      type="number"
      id="b"
      name="b"
      [(ngModel)]="model.b"
    />
    x +
    <input
      class="factorize__inputs-field"
      type="number"
      id="c"
      name="c"
      [(ngModel)]="model.c"
    />
    =
    <input
      class="factorize__inputs-field"
      type="number"
      id="d"
      name="d"
      [(ngModel)]="model.d"
    />

    <input
      class="factorize__inputs-submit"
      type="submit"
      (click)="solve()"
      value="Solve"
    />
  </form>
  <p *ngIf="isSolveClicked">
    Your equation is :
    <span class="factorize__equation">
      {{ model.a }}x<sup>2</sup> <span *ngIf="model.b > 0"> + </span>
      {{ model.b }}x <span *ngIf="model.b > 0"> + </span>{{ model.c }} = {{model.d}}</span
    >
  </p>
</section>
<section class="solved" *ngIf="isSolveClicked && success">
  <p class="solved__line" *ngFor="let s of solved">{{s.solutionLine}}</p>
</section>
<section class="math-error" *ngIf="isSolveClicked && !success">
  <p>Something went worng!</p>
</section>
