<section class="home">
  <app-bg-button buttonName = "Trinomial" [routerLink]="['/trinomial']"></app-bg-button>
  <app-bg-button buttonName = "Quadratic" [routerLink]="['/quadratic']"></app-bg-button>
  <app-bg-button buttonName = "LCM"></app-bg-button>
  <app-bg-button buttonName = "GCM"></app-bg-button>
  <app-bg-button buttonName = "Simplification"></app-bg-button>
  <app-bg-button buttonName = "XXX XXX XXX"></app-bg-button>
  <app-bg-button buttonName = "XXX XXX XXX"></app-bg-button>
  <app-bg-button buttonName = "XXX XXX XXX"></app-bg-button>
</section>