<div class="container component">
  <h2>{{'Create new post' | titlecase}}</h2>
  <form class="form-signin row mt-5" [formGroup]="articleForm" (ngSubmit)="postArticle()">
    <div class="col-md-4">
      <label for="title" class="sr-only">title</label>
      <input
        type="text"
        id="title"
        class="form-control"
        placeholder="title"
        name="title"
        required
        formControlName="title"
        [ngClass]="{
          'is-invalid':
            articleForm.get('title').errors &&
            articleForm.get('title').touched
        }"
      />
      <label for="subtitle" class="sr-only">Subtitle</label>
      <textarea
        id="subtitle"
        class="form-control"
        placeholder="Subtitle of your article"
        name="subtitle"
        rows="10"
        formControlName="subtitle"
        [ngClass]="{
          'is-invalid':
            articleForm.get('subtitle').errors &&
            articleForm.get('subtitle').touched
        }"
      ></textarea>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="category"
            >Category</label
          >
        </div>
        <select class="custom-select" id="category" name="category" required formControlName='category'
        [ngClass]="{
          'is-invalid':
            articleForm.get('category').errors &&
            articleForm.get('category').touched
        }">
          <option selected>Choose...</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <button
        [disabled]=""
        class="btn btn-lg btn-primary btn-block"
        type="submit"
        [disabled] = "!articleForm.valid"
      >
        Post
      </button>
    </div>
    <div class="col-md-8">
      <label for="write" class="sr-only">Write</label>
      <textarea
        id="write"
        class="form-control"
        placeholder="Subtitle of your article"
        name="subtitle"
        style="height: 100%;"
        name="write"
        formControlName="write"
        [ngClass]="{
          'is-invalid':
            articleForm.get('write').errors &&
            articleForm.get('write').touched
        }"
      ></textarea>
    </div>
  </form>
</div>

