<div class="component container">
  <h1>{{ article?.title | titlecase }}</h1>
  <p class="lead">by {{ article?.writerName }}</p>
  <hr />
  <p>
    Posted on {{ article?.published | date:'dd MMM yyyy' }}
  </p>
  <hr />
  <div class="lead text-justify">{{ article?.subTitle }}</div>
  <br />
  <div
    class="text-justify"
    id="articleBody"
    [innerHTML]="article?.body | newLine"
  ></div>


  <div class="my-2">
    <h5 class="badge badge-primary">{{ article.category }}</h5>
  </div>


  <form
    class="form-group mb-0"
    #commentForm="ngForm"
    (ngSubmit)="postComment()"
  >
    <label for="inputcomment" class="sr-only">Comment</label>
    <input
      type="text"
      id="inputcomment"
      class="form-control"
      placeholder="comment"
      name="comment"
      required
      [(ngModel)]="model.commentText"
    />
    <button
      type="submit"
      [disabled]="!commentForm.valid"
      class="btn btn-primary my-2"
    >
      Comment
    </button>
  </form>
  <hr />
  <div
    class="mb-2 p-2"
    style="border: 1px solid lightgrey; border-radius: 5px"
    *ngFor="let com of allComments"
  >
    <div>
      <h4 class="m-0">{{ com.commenter }}</h4>
    </div>
    <p class="m-1">
      <span>{{ com.commentDate | date:'dd MMMM yyyy'}}</span>
    </p>
    <div class="row justify-content-between">
      <div class="col-6" style="margin-left: 2rem">{{ com.commentText }}</div>
      <div class="col-1"></div>
    </div>
  </div>
</div>
